services:
  redis:
    image: redis:7-alpine
    container_name: brainvector-redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - redisdata:/data
  backend:
    build: ./backend
    container_name: brainvector-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DATABASE_URL: postgresql://postgres.wuqxzlwctbdcissjfgvq:8988307565%40B@aws-1-ap-south-1.pooler.supabase.com:5432/postgres

      JWT_SECRET: EKTUHINIRANKAR
      NODE_ENV: development
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PORT: 3000
      HOST: 0.0.0.0
    depends_on:
      redis:
        condition: service_healthy
    restart: always

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: brainvector-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    working_dir: /app
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - backend
    restart: always

volumes:
  redisdata:
